/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>


/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <0 0>;
            then-layer = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock                    &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock
&studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock                    &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock
&studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock                    &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock
&studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock    &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock
                &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock    &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock  &studio_unlock
            >;
        };
    };
};
